.container {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .heading {
    text-align: center;
    margin-bottom: 20px; 
  }
  
  .search-container {
    display: flex;
    justify-content: center;
    width: 100%; 
    margin-bottom: 20px;
  }
  
  .search-container input {
    padding: 10px;
    font-size: 16px;
    width: 30%;
    border: 1px solid #ccc;
    border-radius: 15px;
  }
  
  .search-container button {
    padding: 10px;
    font-size: 16px;
    margin-left: 10px;
    border: 1px solid #007bff;
    background-color: #007bff;
    color: white;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .search-container button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  .error {
    color: red;
    text-align: center;
    margin-top: 10px; 
  }
  
  .main-content {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    width: 100%; 
  }
  
  .weather-info {
    background: #f4f4f4;
    padding: 20px; 
    border-radius: 18px;
    text-align: center;
  }
  
  .weather-details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px; 
    text-align: center;
  }
  
  .weather-details p {
    margin: 5px 0;
    text-align: center;
  }
  
  
  .surrounding-provinces {
    background: #f4f4f4;
    padding: 20px;
    border-radius: 8px;
    text-align: center; 
  }
  
  .surrounding-provinces ul {
    list-style-type: none;
    padding: 0;
  }
  
  .surrounding-provinces li {
    margin: 10px 0;
  }
  .Heading{
    justify-self: center;
    margin-left: 250px;
  }
  .hourly-forecast {
    margin-top: 20px;
    padding: auto;
  }
  
  .hourly-list {
    display: flex;
    justify-content: space-between;
    padding: 10px;
  }
  
  .hourly-item {
    background: #f4f4f4;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
  }
  