body {
    font-family: Arial, sans-serif;
    background-color: whitesmoke;}

.container {
    text-align: center;
    padding: 20px;}

#locationInput {
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 200px;}

#searchButton {
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #007BFF;
    color: white;
    cursor: pointer;}

#searchButton:disabled {
    background-color: #007BFF;
    opacity: 0.5;
    cursor: not-allowed;}

.error {
    color: red;}

.weather-info {
    margin-top: 20px;
    text-align: left;
    display: inline-block;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;}

#weather-image {
    display: block;
    margin: 0 auto;
    width: 100px; 
    height: auto;}

.weather-info p {
    text-align: center;}